<header class="header">
	<div class="container">
		<img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" />
		<div class="profile-content pull-left">
			<h1 class="name">Question: <%= @question.name %></h1>
			<h2 class="desc">Les questions que vous vous posez et la réponse Study Counselor</h2>

		</div><!--//profile-->
		<%= link_to 'Retour aux questions', questions_path, class: "btn btn-success pull-right" %>

	</div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-md-12 col-sm-12 col-xs-12">
			<section class="about section">
				<div class="section-inner">
					<h2 class="heading page-header text-center">Les conseillers pouvant répondre à cette question</h2>
					<div class="content">
						<% @question.counselors.each do |counselor| %>
						<p><%= link_to counselor.full_name, counselor %></p>
						<% end %>
					</div><!--//content-->
				</div><!--//section-inner-->
			</section><!--//section-->

		</div>
	</div>
</div>

<%= link_to 'Edit', edit_question_path(@question) %> |

