<div class="counselor-card bg-white text-left">

	<div class="col-xs-4 col-md-3">
		<%= image_tag "counselor.jpg", class: "img-circle", style: "width: 120px; height: 120px;"%>
    <p><%= counselor.general_description.html_safe  %></p>
		<div class="text-center text-15 studyquizz-blockquote">
			"Vers l'infini et au dela"
		</div>

	</div>

	<div class="col-md-3">
		<p><%= counselor.general_description.html_safe %></p>
	</div>

	<div class="col-md-6">
		<p><%= counselor.general_description.html_safe  %></p>
	</div>

	</div>

</div>
