<div class="container section-wrapper">
	
	<div class="row bg-lightgreen marketing">

		<%= render 'home/marketing_info' %>

		<div class="container text-center">
			<div class="col-md-12 marketing">
        <%= render partial: 'home/dropdown_menu' %>
			</div>
			
		</div>
	</div>

</div>

<div class="container sections-wrapper">
	<div class="row">
		<% @counselors.each do |c| %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<%= render partial: "counselors/counselor_card", locals: {counselor: c}%>
		</div>
		<% end %>
	</div>
</div>
<div class="division"></div>

<% if current_administrator %>
<%= link_to 'New Counselor', new_counselor_path, :class => "btn btn-success" %>
<% end %>
