

<div class="row bg-lightgreen marketing">

	<%= render 'home/marketing_info' %>

	<div class="container text-center">
		<div class="col-md-12 marketing">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					 Choisir 
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu centered" aria-labelledby="dropdownMenu1">
						<li><a href="#">Ingénieur</a></li>
						<li><a href="#">Commerce</a></li>
						<li><a href="#">Arts</a></li>
					</ul>
				</div>


		</div>
		
	</div>
</div>

<div class="container sections-wrapper">
	<div class="row">
		<% @counselors.each do |c| %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<%= render partial: "counselors/counselor_card", locals: {counselor: c}%>
		</div>
		<% end %>
	</div>
</div>


<br>
<% if current_administrator %>
<%= link_to 'New Counselor', new_counselor_path, :class => "btn btn-success" %>
<% end %>
