

<div class="row bg-lightgreen marketing">
	<h3 class="color-green text-uppercase text-center">Rentrez en contact avec nos advisors pour bénéficier de leur retour d'expérience</h3>
	<div class="container text-center">
		<div class="col-md-12 marketing">
			<%= link_to "Mode d'emploi", "#", class: "btn btn-blue text-uppercase"%>
		</div>
		
		<div class="col-md-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-green">Gratuit</h3>
				<p>
					Il n'y a rien à payer pour bien s'orienter 
				</p>
				
			</div><!-- /.col-lg-4 -->
			<div class="col-md-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-green">Personnalisé</h3>
				<p>
					Une discussion par rapport à tes questions et envies
				</p>
				
			</div><!-- /.col-lg-4 -->
			<div class="col-md-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-green">Simple</h3>
				<p>
					Nos advisors te délivrent leur expérience d'il y a moins de 5 ans
				</p>
				
			</div><!-- /.col-lg-4 -->
	</div>
</div>

<div class="container sections-wrapper">
	<div class="row">
		<% @counselors.each do |c| %>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<%= render partial: "counselors/counselor_card", locals: {counselor: c}%>
		</div>
		<% end %>
	</div>
</div>


<br>
<% if current_administrator %>
<%= link_to 'New Counselor', new_counselor_path, :class => "btn btn-success" %>
<% end %>
