<h1>New counselor</h1>

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-md-12 col-sm-12 col-xs-12">
			<%= render 'form' %>

		</div>
	</div>
</div>

<%= link_to 'Back', counselors_path %>
