<div class="container detailled-card">
				<div class="row">
								<div class="col-md-12">
												<%= render partial:"counselors/counselor_detailled_card", locals:{counselor: @counselor} %> 
								</div>
				</div>

</div>
    
<script>
	$(function() {
		var pusher = new Pusher('c46da87d78625cf39e36');
		var chatWidget = new PusherChatWidget(pusher, {
			channelName: "<%= @counselor.pusher_channel_name.to_s %>",
			chatEndPoint : '/messages/chat'
			
		});
	}); 
</script>


<%= link_to 'Edit', edit_counselor_path(@counselor) %> |
<%= link_to 'Back', counselors_path %>
