<!-- ================= DROPDOWN MENU  ================= --> 

<div class="dropdown">
	
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Choisir 
		<span class="caret"></span>
	</button>

	<ul class="dropdown-menu dropdown-centered" aria-labelledby="dropdownMenu1">
	 <% $STUDY_FILIERES.each do |filiere| %>
					 <li><a href="#"><%= filiere %></a></li>
		<% end %>
		</ul>
	
</div>

<!-- ================= DROPDOWN MENU end  ================= --> 


