<div class="row bg-white">
    <div class="container marketing">
         <h2 class="text-center text-uppercase color-green title-studyquizz-use">Comment ça marche ?</h2>
         <h3 class="text-center text-uppercase color-green">Bénéficie de l'expérience d'un étudiant sur les formations qui t'inspirent</h3>

        <div class="col-md-4 text-center">
           <%= image_tag "1.png", :class => "img-responsive center-block", :size => "140x140" %>
           <h4 class="title-marketing">Des profils qui te correspondent</h4>
           <p class="text-marketing">Sélectionne le profil qui te ressemble... Par école, secteur d'activité ou centre d'intérêt. Il y en a pour tous les goûts !</p>
        </div>

        <div class="col-md-4 text-center">
          <h4 class="title-marketing">Rentre en contact</h4>
          <p class="text-marketing">Communique par chat et demande à te faire rappeler quand tu le souhaite. Ni CPE, ni coachs autoproclamés dans notre réseau, promis !</p>
          <%= image_tag "3.png", :class => "img-responsive center-block", :size => "140x140" %>
        </div>

        <div class="col-md-4 text-center">
           <%= image_tag "2.png", :class => "img-responsive center-block", :size => "140x140" %>
           <h4 class="title-marketing">Décroche</h4>
           <p class="text-marketing">...Et la discussion s'engage naturellement autour de tes questions d'orientation. Aucune question taboue !</p>
        </div>
        
    </div>
</div>


