<h2 class="color-white text-uppercase text-center">Ce qu'ils disent de nous</h2>

<div class="col-md-6">
  <%= image_tag('logo_studyquizz.png', class:"img-responsive center-block",  size:'300x110') %>
	<div class="text-centered">
	<h4 class="color-white title-press title-press-left"><u>S'orienter autrement</u></h4>
  <p class="color-white press-paragraph">Study Advisor propose une alternative gratuite aux canaux d'orientation classiques. Collaboration, objectité et empathie sont les maîtres mots du rapprochement entre prochains bacheliers et étudiants pour un échange libéré qui fait sens... A suivre de très près !</p>
  </div>
</div>

<div class="col-md-6">
  <%= image_tag('logo_lefigaro.png', class:"img-responsive center-block", size:'300x140') %>
	<div class="text-centered">
	</div>

  <h4 class="color-white title-press title-press-right text-centered"><u>Révolutionnaire: Plateforme d'orientation 2.0!</u></h4>
  <p class="color-white press-paragraph">Study Advisor est une nouvelle plateforme qui met en relation des étudiants et des Terminales en fonction des filières visées. Nouvelle source d'information pour les terminales, petit boulot pour les étudiants, et communication novatrice pour les acteurs de l'éducation... Un modèle audacieux dont on a hâte de vérifier la pertinence !</p>
</div>

