<h2 class="color-white text-uppercase text-center">La presse</h2>

<div class="col-md-6">
  <%= image_tag('logo_studyquizz.png', class:"img-responsive center-block",  size:'400x110') %>
  <h4 class="color-white title-press">Study Quizz - s'orienter autrement:</h4>
  <p class="color-white">En terminale, nos users nous disent clairement que ce n'est pas le bac qui occupe leur pensée mais bien ce qu'ils vont faire par la suite... Study Adavisor propose une alternative aux sempiternels salons ou forums où chaque école vient de vendre sa soupe: les bacheliers consultent les profils d'étudiants inscrits dans les filières qu'ils ciblent, et peuvent se faire rappeler en un clic pour une discussion libre... A suivre de très près !</p>
</div>

<div class="col-md-6">
  <%= image_tag('logo_lefigaro.png', class:"img-responsive center-block", size:'400x140') %>
  <h4 class="color-white title-press">Le Figaro - Révolutionnaire: Plateforme d'orientation 2.0!</h4>
  <p class="color-white">Study Advisor est une nouvelle plateforme qui met en relation des étudiants avec des futurs bacheliers en fonction des filières visées. La combinaison est la suivante: nouveau moyen d'information pour les terminales, petit boulot pour les étudiants, et communication novatrice pour les acteurs de l'éducation... Un modèle audacieux dont on a hâte de vérifier la pertinence pour chacune des parties !</p>
</div>

