<h2 class="color-green text-uppercase text-center">Témoignages</h2>

  
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
			<%= image_tag "Marine_Temoignage.jpg", :class => 'img-responsive', :size => "280x140" %>
      <div class="container">
        <div class="carousel-caption">
							<p>Chapeau Study Advisor. J'ai été rappelé par Amandine, qui est en bac +3 dans l'école de mes rêves. Elle m'a donné des conseils pour l'admission et m'a confirmé que mon profil cadrait parfaitement avec leurs attentes ! Hâte d'y être maintenant ;)</p>
							<h5>Par Marine, 17 ans, Term ES</h5>
        </div>
      </div>
    </div>
    <div class="item">
			<%= image_tag "Temoignage_Sofiane.jpg", :class => 'img-responsive', :size => "280x140" %>
      <div class="container">
        <div class="carousel-caption">
								<p>Super service ! Rappelé à l'heure, j'ai eu un échange constructif et libre avec Nico sur mes doutes pour l'année prochaine. En vrai, je ne sais toujours pas où j’atterrirai, mais la discussion m'a ouvert de nouvelles pistes pour mon avenir.</p>
								<h5>Sofiane, Term S, 18 ans.</h5>
        </div>
      </div>
    </div>
    <div class="item">
			<%= image_tag "Témoignage_Garçon1.gif", :class => 'img-responsive', :size => "280x140" %>
      <div class="container">
        <div class="carousel-caption">
								<p>Merci Max l'Advisor pour m'avoir confirmé dans mon choix de concours. Je ne savais pas pouvoir faire du droit après une école de commerce du coup je me prenais la tête entre deux formations. Maintenant c'est bon, et honnêtement ça fait un poids en moins.</p>
								<h5>Théo, Term ES, 18 ans.</h5>

        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
