<div class="row">
	<a name="about"></a>
	<div class="intro-header">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1 class="text-uppercase color-white">La 1ère plateforme d'orientation post-bac</h1>
						<h3 class="color-white">Des conseils pour bien s'orienter en toute simplicité. Echangez avec des étudiants qui connaissent les formations pour profiter de leur vécu</h3>

<!--
						<hr class="intro-divider">
-->

<!-- ================= DROPDOWN MENU  ================= --> 
<h3 class="text-uppercase color-white">Je veux faire une école de</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   Choisir 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu centered" aria-labelledby="dropdownMenu1">
    <li><a href="#">Ingénieur</a></li>
    <li><a href="#">Commerce</a></li>
    <li><a href="#">Arts</a></li>
  </ul>
</div>

<!-- ================= DROPDOWN MENU end  ================= --> 

<!--
						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="#" class="btn btn-primary btn-lg"><span class="network-name">Mode d'emploi</span></a>
							</li>

						</ul>
-->
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>

</div>


<div class="row bg-white">
        <div class="container marketing">
			<h2 class="text-center text-uppercase color-green">Mode d'emploi</h2>
                        <h3 class="text-ceter text-uppercase color-green">Bénéficiez de l'expérience d'un étudiant sur les formations qui vous inspirent</h3>

                         <div class="col-md-4 text-center">
                              <h5>Des profils qui vous correspondent</h5>
                             <p>Sélectionnez le profil qui vous ressemble... Par école, secteur d'activité ou centre d'intérêt. Il y en a pour tous les goûts !</p>
                         </div>

                         <div class="col-md-4 text-center">
                              <h5>Rentrez en contact</h5>
                             <p>Communiquez par chat et demandez à vous faire rappeler quand vous le souhaitez. Ni CPE, ni coachs autoproclamés dans notre réseau, promis !</p>
                         </div>

                         <div class="col-md-4 text-center">
                              <h5>Décrochez</h5>
                             <p>...Et la discussion s'engage naturellement autour de vos questions d'orientation. Aucunes questions taboues !</p>
                         </div>


        </div>


</div>


<div class="row marketing studyquizz-theme">
	<h2 class="color-white text-uppercase text-center">Les questions les plus fréquentes</h2>
	<div class="col-md-12 text-center">
		<div class="col-md-4">
			<div class="color-white">
                                Sciences Pô ou Prépa, je ne sais pas quoi choisir !?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
                                Je veux devenir riche... quelle filière choisir ?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
				Quelle école choisir de commerce pour s'assurer d'un emploi à la sortie ?
			</div>
		</div>
	
	</div>
	
	<div class="col-md-12 text-center margin-top-10">
		<div class="col-md-4">
			<div class="color-white">
                                Je veux participer au développement de GTA VI, quelle école choisir ?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
                               La Jungle des BTS: comment s'y retrouver ?
			</div>
		</div>
		<div class="col-md-4">
			<div class="color-white">
                              Je suis en Term, et aucune idée de quoi faire l'année prochaine... l'enfer.
			</div>
		</div>
	</div>

<!-- ================= DROPDOWN MENU  ================= --> 

<h3 class="text-uppercase color-white">Je veux faire une école de</h3>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   Choisir 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu centered" aria-labelledby="dropdownMenu1">
    <li><a href="#">Ingénieur</a></li>
    <li><a href="#">Commerce</a></li>
    <li><a href="#">Arts</a></li>
  </ul>
</div>

</div>

<!-- ================= DROPDOWN MENU end  ================= --> 

<div class="row marketing bg-white">
	<h2 class="color-green text-uppercase text-center">Nos top advisors !</h2>
</div>

<div class="row studyquizz-theme">
	<div class="container marketing">

		<div class="col-md-12 text-center">

			<h2 class="text-center text-uppercase color-white">Study Advisor: Qui de mieux qu'un étudiant pour répondre à vos questions d'orientation ?</h2>
			<br / >
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-white">Gratuit</h3>
				<p class="color-white">Il n'y a rien a payer pour bien s'orienter. Pas même l'appel puisqu'il est pris en charge par nos Advisors, soigneusement sélectionnés.</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-white">Personnalisé</h3>
				<p class="color-white">Vous choisissez le profil qui vous correspond. Vous précisez quand vous faire rappeler. Vous posez des questions.</p>

			</div><!-- /.col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
				<h3 class="color-white">Simple</h3>
				<p class="color-white">Donnez vos disponibilités et faites vous rappeler pour bénéficier d'une discussion de qualité le parcours visé.</p>
			</div><!-- /.col-lg-4 -->

		</div>

	</div>
</div>


<div class="row bg-white">

	<h2 class="color-green text-uppercase text-center">Témoignages</h2>

        <div class="col-md-12">



<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/1500X500" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1500X500" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1500X500" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->
<div class="row marketing studyquizz-theme">
	<h2 class="color-white text-uppercase text-center">La presse</h2>

        <div class="col-md-6">
               <h5 class="color-white">Study Quizz - s'orienter autrement:</h5>
               <p class="color-white">En terminale, nos users nous disent clairement que ce n'est pas le bac qui occupe leur pensée mais bien ce qu'ils vont faire par la suite... Study Adavisor propose une alternative aux sempiternels salons ou forums où chaque école vient de vendre sa soupe: les bacheliers consultent les profils d'étudiants inscrits dans les filières qu'ils ciblent, et peuvent se faire rappeler en un clic pour une discussion libre... A suivre de très près !</p>
        </div>

        <div class="col-md-6">
               <h5 class="color-white">Le Figaro - Révolutionnaire: Plateforme d'orientation 2.0!</h5>
               <p class="color-white">Study Advisor est une nouvelle plateforme qui met en relation des étudiants avec des futurs bacheliers en fonction des filières visées. La combinaison est la suivante: nouveau moyen d'information pour les terminales, petit boulot pour les étudiants, et communication novatrice pour les acteurs de l'éducation... Un modèle audacieux dont on a hâte de vérifier la pertinence pour chacune des parties !</p>
        </div>

</div>



        </div>

</div>
