<div class="navbar navbar-default navbar-fixed-top navbar-nadvence" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<h1 class="navbar-h1"><a class="navbar-brand nadvence-family" href="<%%= root_path %>"><i class="fa fa-dot-circle-o"></i>  <%%= content_for?(:project_name) ? yield(:project_name) : I18n.t('.website_title') %></a><h1>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
            <li class="active nadvence-family"><a href="#">Home</a></li>
            <li class="nadvence-family"><a href="#about">About</a></li>
            <li class="nadvence-family"><a href="#contact">Contact</a></li>
            <li class="dropdown nadvence-family">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="facebook-bg"><a href="https://www.facebook.com/rebbleit" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li class="twitter-bg"><a href="https://twitter.com/rebble_it"  target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li class="google-plus-bg"><a href="https://plus.google.com/+RebbleIt"  target="_blank"><i class="fa fa-google-plus"></i></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%%= I18n.locale.to_s %> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
							<%% I18n.available_locales.each do |l| %>
								<li>
									<%%= link_to l.to_s, :locale => l.to_s %>
								</li>
							<%% end %>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>