<h1>Connexion des administrateurs de Study Counselor</h1>


<%= link_to "Sign in", new_administrator_session_path %>

<% if administrator_signed_in?%>
<%= link_to "Sign out", destroy_administrator_session_path, :method => :delete %>
<% end %>