<header class="header">
	<div class="container">
		<div class="profile-content pull-left">
			<h1 class="name">Rechercher une Ecole</h1>
			<h2 class="desc">Toutes les écoles enregistrées sur Study Counselor</h2>

		</div><!--//profile-->

	</div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
	<div class="row">
         <!--============== SCHOOL SEARCH ================= -->

              <div class="col-md-6">
                  <h3>Filtre de recherche</h3>
                        <%= render partial: "school_search" %>
              </div>

         <!--============== end SCHOOL SEARCH ================= -->
              <div class="col-md-6">
		
			<%= render partial: "school", collection: @schools %>
              </div>

		
	</div>
</div>

<br>

<%# link_to 'New School', new_school_path %>
