<header class="header">
	<div class="container">
		<img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" />
		<div class="profile-content pull-left">
			<h1 class="name">Rechercher une Ecole</h1>
			<h2 class="desc">Toutes les écoles enregistrées sur Study Counselor</h2>

		</div><!--//profile-->

	</div><!--//container-->
</header><!--//header-->

<div class="container sections-wrapper">
	<div class="row">
		
			<%= render partial: "school", collection: @schools %>
		
	</div>
</div>

<br>

<%= link_to 'New School', new_school_path %>
