// Social colors
$linkedin: #4393BB;
$pinterest: #C92228;
$twitter: #4099ff;
$facebook: #3B5998;
$google-plus: #db5a3c;

// Nadvence color
$nadvence: #28c3ab;


$sa-green: rgb(47,47,47);
$sa-orange: rgb(255,85, 0);
$sa-blue: rgb(54,144, 177);
$sa-lightgreen: white;

$studyquizz-first-color: rgb(254,89,57);
$studyquizz-second-color: rgb(251,49,97);

// Shadow color

$studyquizz-shadow-color: #9b9b9b;




