@import 'colors';

.counselor-card{
  display: inline-block;
  border-color: 1px solid rgb(243,240,241);
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px $studyquizz-shadow-color;
  padding: 10px;
  font-weight: 100;

	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
  
  .btn{
    margin: 3px;
  }
  
}

.counselor-hr{
  border: 1px solid #eeeeee;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.studyquizz-blockquote {
   color:$studyquizz-first-color;
	 font-weight: italic;
	 padding: 1em 1em;

}

.detailled-card{
  padding-top: 3em;
}
