// Place all the styles related to the error controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.not-found{
	padding-top:2em;
	color: #ccc;

}

.server-error{
  padding-top:2em;
  color: #ccc;
}



