.connected {
  color: green;
}

.connecting {
  color: orange;
}

.disconnected {
  color:red;
}

.pusher-chat-widget-input > textarea {
   display: block; 

}

.pusher-chat-widget-send-btn {
		margin-top:.5em;
		padding-top: 1em;
		width: 100%;

}
